<!DOCTYPE html>
<html>
<head>
	<title>Cetak Nota</title>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
	<!-- VENDOR CSS -->
	<link rel="stylesheet" href="assets/vendor/bootstrap/css/bootstrap.min.css">
	<link rel="stylesheet" href="assets/vendor/font-awesome/css/font-awesome.min.css">
	<link rel="stylesheet" href="assets/vendor/linearicons/style.css">
	<!-- MAIN CSS -->
	<link rel="stylesheet" href="assets/css/main.css">
	<!-- FOR DEMO PURPOSES ONLY. You should remove this in your project -->
	<link rel="stylesheet" href="assets/css/demo.css">
	<!-- GOOGLE FONTS -->
	<link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700" rel="stylesheet">
	<!-- ICONS -->
	<link rel="apple-touch-icon" sizes="76x76" href="assets/img/apple-icon.png">
	<link rel="icon" type="image/png" sizes="96x96" href="assets/img/favicon.png">
</head>
<body>
	<h3 align="center" >Cetak Nota</h3>
	<!-- MAIN -->
	<div class="main">
		<!-- MAIN CONTENT -->
		<div class="main-content">
			<div class="container-fluid">
				<h3 class="page-title">Tables</h3>
				<div class="row">
					<div class="col-md-6">
						<!-- BASIC TABLE -->
						<div class="panel">
							<div class="panel-heading">
								<h3 class="panel-title">Basic Table</h3>
							</div>
							<div class="panel-body">
								<table align="center">
									<tr>
										<td>Nama Pembeli</td><td>:</td><td><?=$nota->nama_pembeli?></td>
									</tr>
									<tr>
										<td>Tanggal</td><td>:</td><td><?=$nota->tanggal?></td>
									</tr>
									<tr>
										<td>Kasir</td><td>:</td><td><?=$nota->nama_user?></td>
									</tr>
									<tr></tr>
									<tr>
										<td colspan="3" align="center">Rincian</td>
									</tr>
									<tr>
										<table align="center" class="table table-striped">
											<tr>
												<th>No</th>
												<th>Judul Buku</th>
												<th>Harga</th>
												<th>Jumlah</th>
												<th>Subtotal</th>
											</tr>
											
											<tr align="center">
												
												<td><?=$no++?></td>
												<td>789789</td>
												<td>789789789</td>
												<td>789789789</td>
												<td>789789789</td>
											</tr>
											
											<tr>
												<td colspan="4" align="center">Grandtotal</td>
												<td>Rp.789789789789</td>
											</tr>
										</table>
									</tr>
								</table>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
<script type="text/javascript">
	// window.print();
	// // location.href="<?=base_url('index.php/transaksi')?>"
</script>

</html>